
:root{
    --primary-text-color: hsl(238, 29%, 16%);
    --secondary-text-color:  hsl(14, 88%, 65%);
    --tertiary-text-color: hsl(237, 12%, 33%);
    --fouthary-text-color: hsl(240, 6%, 50%);

    --primary-bg-color: hsl(273, 75%, 66%);
    --secondary-bg-color: hsl(240, 73%, 65%);

    --primary-dividers-color: hsl(240, 5%, 91%);


}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: linear-gradient(180deg, var(--primary-bg-color) 50% , var(--secondary-bg-color));
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.faq-container{
    padding: .9375rem;
    background-color: white;
    margin: 9.375rem  .9375rem  6rem .9375rem;
    border-radius: 1.5625rem;
    width: 18.75rem;
    height: 36.99999rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.logo-container{
    width: 15.625rem;
    height: 18.25rem;
    background-image: url("/images/illustration-woman-online-mobile.svg"), url("/images/bg-pattern-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, bottom;
    position: relative;
    top: -11.5625rem;
    left: 1.5625rem;
}
.faq-container h1{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: -11.5rem;
}

.faq-container h2{
    font-size: 12px;
    color: var(--fouthary-text-color);
}


.faq-container .question{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.qa-container {
    position: relative;
    top: -12rem;
}

.wall{
    border-bottom: 1px solid var(--primary-dividers-color);
}

.wall{
    padding: .5rem 0;
}

.question.active h2{
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-text-color);
  }

.question.active img{
    transform: rotate(180deg);
}

.question h2:hover, .question h2:focus{
    cursor: pointer;
    color: var(--secondary-text-color);
}

@media (min-width: 1000px){
    .faq-container{
        display: flex;
        flex-direction: row;
        width: 58.125rem;
        padding: 0;
        margin: 0;
    }

    .faq-container h1, .qa-container{
        position: static;
        text-align: left;

    }

    .faq-big-container{
        width: 33.5rem;
        padding: 5rem ;
    }

    .logo-container{
        position: static;
        width: 33.4375rem;
        height: 100%;
        background-position: -12vh 19vh,-80vh -32vh;
        background-repeat: no-repeat, no-repeat;
        background-image: url("/images/illustration-woman-online-desktop.svg"), url("/images/bg-pattern-desktop.svg");
    }

    .logo-container::before {
        content: "";
        z-index: 1;
        width: 15rem;
        height: 15rem;
        top: 41%;
        left: 0.4%;
        background-image: url("/images/illustration-box-desktop.svg");
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        position: relative;
        transform: translateX(-50%);
      }
}